.add-to-cart {
  display: flex;
  align-items: center;
}
  
.add,
.remove {
  background-color: #000;
  color: white;
  padding: 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 1.4rem;
  border: none;
  min-width: 3rem; /* Set a minimum width to avoid text distortion */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Allow button to grow to fit content */
}
  
.add:hover,
.remove:hover{
  background-color: rgb(35, 32, 204); /* Hover background color for good contrast */
  transform: scale(1.05);
}

.quantity {
  padding: 0 0.5rem;
  font-size: 1.4rem;
}
  