.cart-items-heading {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    text-transform: capitalize;
}

.cart-net-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    background-color: rgb(35, 32, 204);
}
  
.cart-net-total-label {
    font-size: 2.0rem;
    color: #fff;
}
  
.cart-net-total-price {
    font-size: 2.0rem;
    font-weight: bold;
    color: #fff;
}

  
  
  
  
  
  
      