.signinscreen input[type='text'],
input[type='email'],
input[type='password'],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 1.6rem;
}

.signinscreen input[type='submit'] {
    background-color: rgb(35, 32, 204);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1.6rem;
}

.signinscreen input[type='submit']:hover {
    background-color: black;
}

.signinscreen .container p {
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
}

.signinscreen .container {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.signinscreen .container .innerContainer {
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    max-width: 500px;
    height: fit-content;

    border: 2px solid #ccc;
}

.signinscreen .header {
    background-color: black;
    width: 100%;
    padding: 20px;
}

.signinscreen .header p {
    font-weight: bold;
    font-size: 20px;
    color: white;
    font-size: 1.6rem;
}

.signinscreen label {
    font-size: 1.6rem;
}

.signinscreen .container .innerContainer span {
    font-size: 1.6rem;
}

.link {
    text-decoration: none;
    cursor: pointer;
}

.signinscreen {
    display: grid;
    place-items: center;
    height: 70vh;
}